.fLighter {
  font-weight: lighter;
}
.fNormal {
  font-weight: normal;
}
.fBold {
  Font-weight: bold;
}
.fBolder {
  Font-weight: bolder;
}
.f100 {
Font-weight: 100;
}
.f200 {
Font-weight: 200;
}
.f300 {
Font-weight: 300;
}
.f400 {
Font-weight: 400;
}
.f500 {
Font-weight: 500;
}
.f600 {
Font-weight: 600;
}
.f700 {
Font-weight: 700;
}
.f800 {
Font-weight: 800;
}
.f900 {
Font-weight: 900;
}
