.padding {
  padding: .1em .1em .1em .1em;
}
.topPadding {
  padding-top: .1em;
}
.rightPadding {
  padding-right: .2em;
}
.bottonPadding {
  padding-bottom: .#em;
}
.leftPadding {
  padding-left: .4em;
}
