P {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 1.23m;
}
h1 {
  font-family:"trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}
p.important {
  font-size:1.5em
}
h3.bigger {
  font-size: 2.5em
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
}
