  /*Add header formating styles in HTML files with custom css classes - adding font-size.*/
  h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.5em;
    color: darkblue;
  }
  h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    color: darkblue;
  }
  h3 {
    font-family: 'Petit Formal Script', 'Brush Script MT', cursive;
    font-size: 1.5em;
    color: darkblue;
  }
  h4 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.5em;
    color: darkblue;
  }
  h5 {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
    color: darkblue;
  }
  h6 {
    font-family: 'The Girl Next Door', 'Brush Script MT', cursive;
    font-size: 1.5em;
    color: darkblue;
  }
