P {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 1.2em;
text-align: left;
text-indent:1em; /*intents first-line in a paragragh*/
margin: 0em 1em 0em 1em; /*sets top right bottom left margins*/
}
h1 {
  font-family:"trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  color:#C71585;
}
h2 {
  margin: 0em 0em 0em 1.5em; /*intents h2 parqgragh to the left*/
  letter-spacing:.1em;
  line-height:2em;
  color: #7B68EE;
}
p.important {
  font-size:1.5em;
  font-weight: 900;word-spacing:1em;
}
p.center {
  text-align: center;
}
h3.bigger {
  font-size: 2.5em;
  letter-spacing:-.05em;
}
h4.italics {
  font-style: italic;
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
}
p.italics {
  font-style: italic;
}
.italics {
  font-style:italic;
}
.emphasized {
  font-size: 1.5em;
  font-style:italic;
  font-weight: 900;
}
.standoutColor{
  color:#cc0000;
}
.dateStyle {
  text-align: right;
  color: #00FF00;
  font-size: 1.5em;
}
/*Add additional styles to text that uses the blockquote tag*/
blockquote {
  font-size: 1.2em;
  color: #708090;
}
.offset {
  margin: 2em 2em 2em 2em;
}
.leftOffset {
  margin-left: 2em;
}
.rightOffset {
  margin-right: 2em;
}
.topOffset {
  margin-top: 2em;
}
.bottomOffset {
  margin-bottom: 2em;
}
.topBottom {
  margin: 2em 0em 2em 0em;
}
.leftRight {
  margin: 0em 1em 0em 3em;
}
}
.topRightBottomLeft {
  margin: 0em 1em 0em 1em;
}
